<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head> </head>
<body>
<header>
    <div class="header_main">
        <div class="header_wrap">
            <h1 class="logo">
                <a th:href="@{/}">LoEBeauty</a>
            </h1>
            <div class="search_wrap">
                <form class="search_form" action="" method="get">
                    <input
                            type="search"
                            title="search"
                            class="search_input"
                            placeholder="검색어 입력"
                            onfocus="this.placeholder=''"
                            onblur="this.placeholder='검색어 입력'"
                    />
                    <span class="search_clear"
                    ><i class="fa-solid fa-xmark fa-2xl" style="color: #f26b8f"></i
                    ></span>
                    <button type="submit" class="search_btn">
                        <i
                                class="fa-solid fa-magnifying-glass fa-2xl"
                                style="color: #ffffff"
                        ></i>
                    </button>
                </form>
            </div>
            <div class="util_wrap">
                <ul class="util_ul">
                    <li>
                        <a href=""
                        ><i
                                class="fa-regular fa-bell fa-2xl"
                                style="color: #ffffff"
                        ></i
                        ></a>
                    </li>
                    <li>
                        <a href=""
                        ><i
                                class="fa-regular fa-user fa-2xl"
                                style="color: #ffffff"
                        ></i
                        ></a>
                    </li>
                    <li>
                        <a href=""
                        ><i
                                class="fa-solid fa-cart-shopping fa-2xl"
                                style="color: #ffffff"
                        ></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>