<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문완료</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header class="roenbeauty-header"></header>
    <div class="section order-body">
        <h1 class="order-title">주문완료</h1>
        <div class="order-step">
            <ul>
                <li>
                    <i class="icon icon-order-step1"></i>
                    <span><strong>01</strong>장바구니</span>
                </li>

                <li>
                    <i class="icon icon-order-step2"></i>
                    <span><strong>02</strong>주문/결제</span>
                </li>

                <li class="active" title="현재 단계">
                    <i class="icon icon-order-step3"></i>
                    <span><strong>03</strong>주문완료</span>
                </li>
            </ul>
        </div>

        <section class="order-complete bg-white p-4 rounded shadow-sm mb-4 text-center">
            <div class="order-status">
                <ion-icon name="checkmark-circle-outline" class="check-icon"></ion-icon>

                <h1 class="h3 font-weight-bold text-success mb-3 ">주문이 정상적으로 완료되었습니다.</h1>
            </div>
            <div class="order-details display: flex; justify-content: center; align-items: center;">
                <div class="order-id mb-4">
                    <strong>주문번호:</strong>
                    <span
                            th:text="${paymentHistory.orderId}"
                    ></span>
                </div>
                <div>
                    <strong>받는 분:</strong>
                    <span
                            th:text="${completedDto.userName}"
                    ></span>
                </div>
                <div>
                    <strong>결제 정보:</strong>
                    <span
                            th:text="${completedDto.bankName}"
                    ></span>
                </div>
                <div>
                    <strong>승인 시간:</strong>
                    <span
                            th:text="${paymentHistory.orderAt}"
                    ></span>
                </div>
                <strong>결제금액:<span></span></strong>
                <span
                        class="price font-weight-bold" style="color: #f26b8f;"
                        th:text="${paymentHistory.totalPrice}"
                >
                </span>원
            </div>

            <button class="btn btn-primary mt-3" onclick="location.href='/home'">홈</button>
            <section class="order-product bg-white p-4">
                <h2 class="h4 font-weight-bold mb-3" style="text-align: left;">주문 상품 정보</h2>

                <table class="table table-bordered rounded">
                    <thead style="background-color: #ffffff;">
                    <tr>
                        <th>상품 정보</th>
                        <th>가격</th>
                        <th>수량</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            th:unless="${completedDto.productList.size()==0}"
                            th:each="dto, dtoState:${completedDto.productList}">
                        <td>
                            <div class="prod-info">
                                <div class="prod-img">
                                    <!-- 상품 상세 페이지 생성 후 확인 필요 -->
                                    <img
                                            th:src="${dto.imagePath}"
                                            alt="img"
                                    />
                                </div>
                                <div class="info">
                                    <div class="name">
                                        <a
                                                th:text="${dto.name}"
                                        ></a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="prod-info"> end-->
                        </td>
                        <td>
                            <div
                                    class="price"
                                    th:text="${#numbers.formatInteger(dto.price, 1, 'COMMA') + '원'}"
                            ></div>
                        </td>
                        <td>
                            <div
                                    class="quantity"
                                    th:text="${dto.quantity + '개'}"
                            ></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </section>
        </section>
    </div>
</div>
</body>
</html>